:root {
  --primary-color: #2563eb;
  --text-color: #1f2937;
  --font-base: 16px;
  --space-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;
  --space-sm: 8px;
  --space-lg: 24px;
  --radius-sm: 4px;
  --radius-md: 8px;
}

html, body{
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  margin: 0;
  font-size: var(--font-base);
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
}

h1,h2 {
  color: var(--primary-color);

}

h1{
  font-size: var(--font-xl);
}

h2{
  font-size: var(--font-lg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  background-color: #a6d6f6;
  padding: 0 var(--space-md);
  border-bottom: 2px solid #e5e7eb;
}

nav{
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}

nav a{
  text-decoration: none;
  color: #2563eb;
}

.logo h1{
  color: #2563eb;
}

button{
  background-color: #2563eb;
  color: white;
  border: none;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-sm);
  cursor: pointer;
  display: block;
  margin-top: var(--space-md);
  margin-left: auto;
  margin-right: auto;
}

.label {
  color: #2563eb;
}

section {
  margin-bottom: var(--space-md);
  margin-top: var(--space-md);
}

table,ul,ol,p{
  max-width: 800px;
}


figure {
  padding: var(--space-md);
  
}

.contact-page main {
  padding-left: 20px;
}

form label {
  display: block;
  margin: 10px 0;
}

form input {
  display: block;
  margin-bottom: 15px;
  padding: 8px;
}

form button {
  margin-top: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  overflow-wrap: break-word;  
  word-wrap: break-word;     
  text-align: center;
  height: 100%;
}


/* *{
  outline: 1px solid grey;
} */



/* Grid layout */
.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--space-md);
}

.sidebar {
  border-right: 2px solid #e5e7eb;
  padding-right: var(--space-md);
  padding: 0 var(--space-md);
  background-color: #f3f4f6;
}

.sidebar h3 {
  color: #2563eb;
  margin-bottom: var(--space-md);
}

footer{
  display: flex;
  justify-content: center;
  background-color: #8fc0d4;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  margin-top: auto;
  text-align: center;
}


/* Terrarium Layout */
.terrarium {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-md);
  justify-content: center;
  align-items: stretch;
}

.card {
  background-color: #e0f2fe;
  padding: var(--space-md);
  text-align: center;
  font-weight: bold;
}


/* UI Interaction */
nav a:hover{
  text-decoration: underline;
  transform: scale(0.97);
}

nav a:focus{
  outline: 3px solid blue;
}

nav a:active{
  background-color: lemonchiffon;
  
}

button:hover{
  background-color: darkslateblue;
}

button:focus{
  outline: 4px solid black;
}

audio:focus{
  outline: 3px solid #115fb7;
}


/*Utility Classes */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-md);
}

.text-center {
  text-align: center;
}

.mt-md {
  margin-top: var(--space-md);
}

.mb-lg {
  margin-bottom: var(--space-lg);
}


/* Counter page */
#counter .box {
  margin-left: 20px;
}

#counter button {
  margin-right: 20px;
}


/* Click Game CSS */

#click-game {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#click-game main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.click-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

#score {
  font-size: var(--font-lg);
  font-weight: bold;
}

#gameArea {
  width: 350px;
  height: 300px;
  border: 3px solid #1d2736;
  position: relative;
}

#square {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  position: absolute;
  cursor: pointer;
}

#timer {
  font-weight: bolder;
  color: #e12222;
}

#restartBtn {
  margin-top: var(--space-md);
}

.button-group {
  display: flex;
  gap: 15px;        /* space between buttons */
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}



/* Mobile Navbar */
@media (max-width: 600px) {
  header h1 {
    margin-top: 0;
  }

  header button {
    margin-bottom: 0;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-md);
    padding-top: var(--radius-md);
    padding-bottom: var(--space-md);
  }

  nav {
    flex-direction: column;
    gap: var(--space-sm);
  }

  .layout {
    grid-template-columns: 1fr;
  }

  .content {
    order: 1;
  }

  .sidebar {
    order: 2;
    border-right: none;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding-right: 0;
    padding-bottom: var(--space-md);
  }

  section {
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
  }

  .terrarium{
    padding-right: var(--space-md);
  }

  footer {
    text-align: center;
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
  }

}